
body #productPageSimulator {}
body #productPageSimulator #shipping-simulator {
    width: 100%;
    display: inline-block;
}
body #productPageSimulator #shipping-simulator form {}
body #productPageSimulator #shipping-simulator form label {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 15px 0;
    color: var(--e-global-color-secondary);
    font-family: "Bechtlers", Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 18px;
    letter-spacing: 0.3px;
}
body #productPageSimulator #shipping-simulator form input#zipcode {
    min-width: 200px;
    display: inline-block;
    margin: 0;
    padding: 15px 15px;
    border-radius: 15px 0 0 15px;
    color: var(--e-global-color-secondary);
    font-family: "Bechtlers", Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.3px;
    height: 52px;
    border-color: var(--e-global-color-secondary);
}
body #productPageSimulator #shipping-simulator form input#zipcode::placeholder {
    color: var(--e-global-color-secondary);
    font-family: "Bechtlers", Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.3px;
}
body #productPageSimulator #shipping-simulator form button#idx-calc_shipping {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px !important;
    color: #FFFFFF;
    background-color: var(--e-global-color-primary);
    padding: 16px 25px !important;
    margin: 0px 15px 0px 0px !important;
    border-radius: 0 15px 15px 0;
    height: 52px;
}
body #productPageSimulator #shipping-simulator form #simulator-data #shipping-rates {
    border: 1px solid var(--e-global-color-secondary);
    border-radius: 15px;
    padding: 15px 15px;
}
body #productPageSimulator #shipping-simulator form #simulator-data li {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 15px 0;
    color: var(--e-global-color-secondary);
    font-family: "Bechtlers", Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 18px;
    letter-spacing: 0.3px;
}